{{!< default}}
<section class="page-hero" id="main-content">
  <div class="container">
    <h1>{{title}}</h1>
  </div>
</section>
<section class="section">
  <div class="container post-body">
    {{content}}
  </div>
</section>
